/* Général */

h2{
    color:var(--ecriture);
    background-color: var(--backgroundTitle);
}

/* fin général */

/* header */

.imgGit{
    width: 35px;
    background-color: white;
}

.imgLogo{ 
    margin-right: 40px;
}

/*  fin header */

/* presentation photo */

.hexagone{
    width:450px;
    height:450px;
}

.img-me{
    width: 450px;
    margin-left: 3%;
    margin-top: -60px;
}

.text-presentation{
    padding: 0px;
}

.text-presentation h2{
    font-size: 2.6rem;
}

/* fin presentation photo */

/* hard skills */

.iconeHardSkills{
    width: 40px;
}

/* container afficher  infos */

    .afficherInfos{
        top:100px;
    }

/* fin afficher infos */
/*  fin hard skills */

/* soft skills */

.afficherInfos-soft{
    top: 30px;
}

/* projet */
/* fin projet */

/* article a propos */

.container-aPropos{
    display: flex;
    flex-direction: column;
}

/* fin article a propos */

/* Contact */ 
/*  fin contact */
/* footer */
/* fin footer */
