*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 1.5s all ease-in-out;
}

:root{
    --background :  rgb(0,189,149);
    --backgroundBody : rgb(0,0,0);
    --backgroundHeader :rgb(0,189,149);
    --backgroundSection :  rgb(31,39,47,0.4);
    --backgroundTitle :  rgb(0,0,0);
    --title : rgb(255, 255, 255);
    --ecriture : rgb(255, 255, 255);
    --span : rgb(0,189,149);
    --hexagone :  rgb(0,189,149);
    --colorHR1 :  rgb(0,189,149);
    --colorHR2 : rgb(255, 255, 255);
}

/* Général */

body{
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--backgroundBody);

}

main{
    width: 80%;
    margin: auto;
   
}


h2{
    width: 100%;
    margin-top: 50px;
    font-family: 'Monoton', cursive;
    font-size: 2.5em;
    font-weight:500;
    text-align: center;
    padding: 20px;
    color:var(--ecriture);
    background-color: var(--backgroundTitle);
}

h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--span);
    font-weight:900;
}

p{
    font-size: 17px;
    color: var(--ecriture);
}

ul{
    text-align: center;
}

li{
    list-style: none;
}

span{
    color:  var(--span);
}

figcaption{
    text-align: center;
    padding-top: 20px;
    color:var(--ecriture);
}

/* fin général */

/* header */

header{
    background-color:var(--backgroundHeader); 
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    z-index: 200;
}

.topnav{
    width: 100%;
}

.topnav #myLinks {
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content:space-evenly;
}

.nav-bar{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 40px;
    color:var(--ecriture);
}

a{
    width: 100%;
    text-decoration: none;
    font-size:14px;
    color:var(--ecriture);
    font-weight: 900;  
    position: relative;
}

.lien::after{
    content: '';
    height: 2px;
    background:var(--ecriture);
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: 0.3s all ease-in-out;
}


.lien:hover::after{
    width: 100%;
    left: 0;
}

.lien{
    margin: auto;
    width: max-content;
    text-align: center;
}

.resauxSocial{
    width: 5%;
}

.resauxSocial2{
    width: 20%;
}

.logo{
    width: 20%;
    margin-right: -130px;
}

.imglinkedin{
    width: 35px;
}

.imgGit{
    width: 35px;
    background-color: white;
    border-radius: 5px;
}

.imgLogo{ 
    background-color:var(--backgroundHeader);
    width: 40px;
}

.logoTheme{
    width: 60px;
    position: absolute;
    top: 10px;
    right: 60px;
    width:60px;
    height: 60px;
    background-color: var(--background);
    border: none;
    border-radius: 50%;

}
/*  fin header */

/* main  */
.titleOne{
    width: 100%;
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    font-size: 3em;
    color:var(--title);
    animation: flashing 2s infinite alternate;
}

@keyframes flashing {
    0%, 100%, 21%, 32%, 35%, 39%, 42%, 50% {
      text-shadow:
        0 0 16px rgba(255,255,255),
        0 0 16px rgba(255,255,255),
        0 0 32px rgba(0,189,149,1),
        0 0 64px rgba(0,189,149,1),
        0 0 90px rgba(0,189,149,1),
        0 0 124px rgba(0,189,149,1);
    }
    20%, 34%, 41% {        
      text-shadow: none;
      box-shadow: none;
    }    
}

.hr {
    background: linear-gradient(90deg,var(--colorHR1),var(--colorHR2));
    border-radius: 50px;
    height: 3px;
    margin: auto;
    width: 200px;
    margin-bottom: 50px;
}

/* presentation photo */

.container-presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:var(--backgroundBody);
    margin: 0;
    padding: 0;
}

.boxshadow {
    filter: drop-shadow(0 0 0.75rem rgb(202, 238, 188));
}

.hexagone{
    width:600px;
    height:600px;
    background-color: var(--hexagone);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0% );
}

.img-me{
    width: 600px;
    margin-left: 3%;
    margin-top: -109px;
}

.text-presentation{
    width: 100%;
    padding: 20px;
    text-align: center;
    color: var(--ecriture);
}

.text-presentation h2{
    font-size: 4rem;
    color: rgb(0,189,149);
    font-family: 'Space Grotesk', sans-serif;
}

.text-presentation p {
    font-size: 2.6rem;
    
}

.text-presentation span{
    color: var(--span);
    font-size: 2.6rem;
}

.btn1{
    margin-top: 40px;
    width: 40%;
    padding: 10px;
    background: rgb(24,206,136);
    background: linear-gradient(90deg, rgba(24,206,136,1) 20%, rgba(0,189,149,1) 85%);
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0 0 0.75rem rgb(217, 241, 207));
}

.btn1 a{
    font-size: 1.2rem;
} 

/* fin presentation photo */

/* hard skills */

.title-hard-skills{
    margin-top: 50px;
    font-size: 2.5rem;
    background-color: var(--backgroundTitle);
    color: var(--title);
}

.container-boite{
    width: 100%;
    height: max-content;
    position: relative;
    padding: 20px;
    background-color: var(--backgroundBody);
}

.boite{
    width: 35%;
    margin: 20px 8px;
    padding: 30px;
    border-radius: 8px;
    min-height:max-content;
    color: var(--ecriture);
    background-color: var(--backgroundSection);
}

.boite:hover{
    cursor: pointer;
}

.title-dev{
    width: 90%;
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.6rem;
    font-weight:900;
    color: var(--ecriture);
}

.boite-logo{
    display: flex;
    margin-bottom: 50px;
}

.p-boite{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.iconeHardSkills{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50px;
    height: fit-content;
}

    /* container afficher  infos */

.afficherInfos{
    width: 65%;
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    right: 0;
    padding-top: 20px;
}

.hard-skills-ul-container{
    width: 100%;
    color: var(--ecriture);
}

.title-skills{
    color:var(--ecriture);
    text-shadow: 0px 0px 54px var(--textShadow); 
    font-size: 40px;
}

.competence{
    margin-bottom: 10px;
    padding: 0;
}

.hard-skills-ul-container li{
    margin-bottom: 20px;
    font-size: 25px;
}

.hard-skills-ul-container p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    color:var(--span); 
}

.photo-decoratif{
    width: 100%;
    position: relative;
    top: 15%;
    left: 30%;
    filter: drop-shadow(0 0 0.25rem rgb(217, 241, 207));
}


/* fin afficher infos */

/*  fin hard skills */

/* soft skills */

.afficherInfos-soft{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 62%;
}

.soft-skills-ul-container{
    width: 100%;
    font-size: 20px;
    color: var(--ecriture);
}

.soft-skills-ul-container ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left ;
    padding-top: 20px;
}

.soft-skills-ul-container li{
    width: 100%;
    margin: auto;
    padding-bottom:30px;
}

.icon-hobbie{
    margin: auto;
    width: 40px;
    margin-right: 60px;
    margin-left: 60px;
}

/* projet */

#projet{
    background-color:var(--backgroundBody);
}

.container-projet{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    scrollbar-color: rgba(0,189,149) ;
    padding: 20px ;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background:var(--background);
    border-radius: 25px;
    filter: drop-shadow(0 0 0.75rem rgb(217, 241, 207));
}

.projet-card{
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 25px;
    margin-bottom: 100px;
    background-color: var(--backgroundSection);
    transition: all ease-in-out 0.4s;
}

.projet-card:hover{
    box-shadow: 0 0 34px var(--backgroundHeader); 
}

.img-projet{
    width: 100%;
    max-width: 300px;
    max-height: 250px;
    object-fit: cover;
    padding: 20px;
    cursor: pointer;
}

.voirProjet{
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color:var(--ecriture);
    padding: 20px;
}



/* modal projet */

.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    padding-top: 50px; 
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;  
    background-color: rgba(0,0,0,0.4);
}

.modal h2{
    font-size: 4em;
    font-family: 'Space Grotesk', sans-serif;
}

/* Modal Content */

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */

.close {
    color: var(--ecriture);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:var(--background);
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 1s;
}

.modal-header {
    border-bottom: solid 2px rgb(24,206,136);
    padding: 2px 16px;
    background-color: #000000;
    color: white;
}

.modal-body {
    display: flex;
    padding: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #000;
}

.modal-text-projet{
    background-color:var(--backgroundBody);
    padding: 20px;
    width: 50%;
    color: var(--ecriture);
}

.modal-text-projet p{
    padding: 20px;
}

.ul-projet{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.ul-projet li{
    width: 50%;
}

.lien-BJA a{
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(24,206,136);
}

.modal-footer {
    border-top: solid 2px  rgb(24,206,136);
    background-color: #000000;
    color: var(--ecriture);
}

.modal-footer h3{
    padding-top: 20px;
}

.modal-footer p{
    width:80%;
    margin: auto;
    padding-bottom: 20px;
}

.modal-footer span{
    width:30%;
    margin: auto;
    font-size: 1.5em;
}
/* swiper */

.slider-modal{
    width: 50%;
    background-color: #000;
    border-top: solid 2px  rgb(24,206,136);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    border: solid 1px white;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    padding-left: 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    bottom: 0px ;
    height: 40px;
    background-color: var(--backgroundBody);
}

.swiper-pagination-bullet{
    width: 18px !important;
    height: 18px !important;
    background-color: rgb(255, 255, 255) !important;
    opacity: initial !important;
    margin-top: 10px !important;
}

.swiper-pagination-bullet-active{
    background-color: rgba(0,189,149,1) !important;
}

/* fin modal projet */
/* fin projet */

/* article a propos */


#aPropos{
    background-color: var(--backgroundBody);
}

.container-aPropos{
    display: flex;
    padding: 50px 0px;
}

.textApropos1 , .textApropos2 {
    color: var(--ecriture);
    width: 100%;
    padding: 35px; 
    height: auto;
    text-align: left;
}

.paragraphetap{
    margin-bottom:20px;
}

/* photo 3d */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    height: 400px;
    perspective: 1000px;
}

.content-card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    transition: all ease-out;
}

.content-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img3D{
    filter: brightness(60%);
}

.img3D:hover{
    filter: brightness(100%);
}

/* fin photo 3d */


/* fin article a propos */

/* Contact */

#contact{
    text-align: center;
}

.container-contact{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--backgroundBody);
}

.img-contact{
    display: flex;
    flex-direction: column;
} 

.text-contact {
    text-align: left;
}

.img-tel{
    width: 50px;
    margin: 20px;
}

.tel{
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
}

.tel a{
    color:var(--ecriture) ;
    font-size: 20px;
}

.tel .lien::after{
    content: '';
    height: 2px;
    background:var(--ecriture);
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: 0.3s all ease-in-out;
}


.tel .lien:hover::after{
    width: 100%;
    left: 0;
}

.resaux{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.imglinkedin-contact{
    width: 100px;
    border-radius: 20px;
}

.imgGit-contact{
    width: 100px;
    background-color: white;
    border-radius: 20px;
}    

.imgGit-contact:hover, .imglinkedin-contact:hover{
    box-shadow: 0 0 54px rgba(0,189,149,1); 
}
/*  fin contact */


/* footer */

footer{
    width: 80%;
    margin: auto;
    background-color:  var(--backgroundHeader);
    color: white;
    text-align: center;
    transition: all ease-in-out 0.6s;
}


footer:hover{
    width: 100%;
    margin: auto;
    background-color:  var(--backgroundHeader);
    color: white;
    text-align: center;
}

.title-footer{
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    color:var(--title);
    background-color: rgba(31,39,47,0);
}

.nav-footer{
    margin: 20px;
}

footer p{
    padding-top: 20px;
    color: var(--ecriture);
    text-align: center;
}

.copyright{
    color: var(--ecriture);
    font-size: 14px;
    padding: 20px;
}

/*  fin footer */