/* Général */

h2{
   font-size: 2.25em;
   color:var(--ecriture);
   background-color: var(--backgroundTitle);
}

/* fin général */

/* header */

.bar {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 8px;
    position: absolute;
    top: 20px;
    right: 60px;
    transform-origin: 0 0;
    transition: all 500ms;
}

.bun-top { transform: translate3d(0, 0, 0); }
.lettuce { transform: translate3d(0, -25px, 0) scaleY(0); opacity: 0; }
.mustard { transform: translate3d(-75px, 0, 0) scaleY(0); opacity: 0; }
.ketchup { transform: translate3d(75px, 0, 0) scaleY(0); opacity: 0; }
.patty   { transform: translate3d(0, 15px, 0); }
.bun-bot { transform: translate3d(0, 30px, 0); }
.on .bar {transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);}

.on .bun-top { background: #d7b48a; transform: translate3d(0, 0, 0) scaleY(1.5); }
.on .lettuce { background: #2b6a22; transform: translate3d(0, 20px, 0) scaleY(0.5); opacity: 1; transition-delay: 200ms; }
.on .mustard { background: #e5e360; transform: translate3d(0, 30px, 0) scaleY(0.5); opacity: 1; transition-delay: 400ms; }
.on .ketchup { background: #ce4a4a; transform: translate3d(0, 40px, 0) scaleY(0.5); opacity: 1; transition-delay: 600ms; }
.on .patty   { background: #3d362a; transform: translate3d(0, 50px, 0) scaleY(1); }
.on .bun-bot { background: #d7b48a; transform: translate3d(0, 65px, 0) scaleY(1.5); }
.burger .on{width:0%;}

.topnav {
height: max-content;
overflow: hidden;
position: relative;
margin-top: 100px;
}

.topnav #myLinks {
    display: none ;
}

.nav-bar{
    padding: 0;
}

.nav-bar a{
    width: max-content;
    display: flex;
    justify-content: center;
    padding-right: 120px;
    padding-top: 20px;
    text-decoration: none;
    font-size:20px;
    color:var(--ecriture);
}

.imglinkedin{
    display: none;
}

.imgGit{
   display: none;
}

.logo{
    margin-right: 0px;
}

.imgLogo{ 
    width: 60px;
    margin: 0px;
    position: absolute;
    top: 20px;
    left: 60px;
}
/*  fin header */

/* main  */

.titleOne{
    padding: 20px;
    font-size: 2.2em;
}

/* presentation photo */

.container-presentation{
    display: block;
}

.hexagone{
    margin: auto;
}

.img-me{
    max-width: 100%;
    margin: auto;
}

.text-presentation{
    margin-top: 20px;
    font-size: 1.8rem;
}

/* fin presentation photo */

/* hard skills */

.container-boite{
    display: flex;
    flex-direction: column;
}

.boite{
    width: 100%;
    margin: 8px 8px 8px 8px;
    padding: 40px;
}

.title-dev{
    width: 100%;
    font-size: 2rem;
}

.iconeHardSkills{
    width: 15%;
}

    /* container afficher  infos */

.afficherInfos{
    width: 100%;
    display: block;
}

.hard-skills-ul-container{
    width: 100%;
    margin-top: 20px;
}

.hard-skills-ul-container li{
    margin-bottom: 20px;
}

.hard-skills-ul-container p{
    font-size: 1.6rem;
    margin-bottom: 20px;   
}

.photo-decoratif{
display: none;
}

    /* fin afficher infos */
/*  fin hard skills */

/* soft skills */

.afficherInfos-soft{
    width: 100%;
}


.soft-skills-ul-container li{
    text-align: center ;
    padding-bottom:30px;
}

/* projet */

.container-projet{
    height: 524px;
}

/* modal projet */
/* Modal Content */
.modal-content {
    width: 100%;
}

.modal-header {
    padding: 0;
}

.modal h2{
    margin: 0;
    font-size: 2.5em;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #000;
}

.modal-text-projet{
    background-color: rgb(31,39,47,0.4);
    padding: 20px;
    width: 100%;
    color: white;
    text-align: left;
}

.modal-text-projet p{
    padding: 20px;
    font-size: 20px;
}


/* swiper */
.slider-modal{
    width: 100%;
    background-color: #000;
}

.swiper {
    width: 100%;
}

/* fin modal projet */
/* fin projet */

/* article a propos */

.container-aPropos{
    display: flex;
    flex-direction: column;
}

.textApropos1 , .textApropos2 {
    text-align: justify;
}

/* fin article a propos */


/* Contact */

.social-querry{
    display: flex !important;
    width: 100%;
    justify-content: space-around;
}
/*  fin contact */

/* footer */

footer{
    width: 100%;
}

/* fin footer */